
body{
    background-color: lightsalmon;
    accent-color: yellow }
p{
    flood-color: black ;}


h1 {
    background-color: purple;
 color: rgb(218, 51, 176) 0, 3 }
    
div{ background-color: rgb(177, 8, 53);}

